p,
div {
    font-size: 12rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 22rem;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}